[submodule ".vim/pack/benjavim/start/sensible"]
	path = .vim/pack/benjavim/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/benjavim/start/solarized"]
	path = .vim/pack/benjavim/start/solarized
	url = https://github.com/deybhayden/vim-colors-solarized.git
[submodule ".vim/pack/benjavim/start/surround"]
	path = .vim/pack/benjavim/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/benjavim/start/fugitive"]
	path = .vim/pack/benjavim/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/benjavim/start/commentary"]
	path = .vim/pack/benjavim/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/benjavim/start/abolish"]
	path = .vim/pack/benjavim/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/pack/benjavim/start/lightline"]
	path = .vim/pack/benjavim/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/benjavim/start/ripgrep"]
	path = .vim/pack/benjavim/start/ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
